<div class="container-foo"> 

	<div>
			<div class="banner" style="float: left">
				<img src="brightpearl.png"></img>
			</div>
			<div class="banner" style="float: right; text-align: top">
				<p class="bannertext"><b>Health Check Dashboard [<%= @datacentre %>]</b> - last updated [<%= @last_updated %>]</p>
			</div>
	</div>

	<% if @error.nil? %>			
	
		<div class="section group">

			<% unless @widgets.empty? %>	
				<% @widgets.each do |widget| %>

						<%= widget.status %>
						<% if widget.outcome == "FAIL" %>
						<div class="col s2 fail">
						<% else %>
						<div class="col s2 pass">
						<% end %>

							<h1 class="title">
								<%= widget.name %> - <%= widget.version %><br>(<%= widget.type %>)
							</h1>
							<p class="status"><%= widget.outcome %></p>
						</div>

				<% end %>
			<% end %>
		</div>
	<% else %>
		<div class="section group ">
			<div class="col s12 fail">
				<h1 class="errortitle"><%= @error %></h1>
			</div>
		</div>
	<% end %>
</div>